# Hands-On Pertemuan 10: Implementasi NoSQL Database - MongoDB

## Tujuan:
- Mengenal konsep dasar dan pengimplementasian database NoSQL, khususnya MongoDB.
- Melakukan berbagai operasi dasar pada MongoDB untuk analisis data.
- Mengasah keterampilan dalam menulis query yang lebih kompleks.

### 1. Menghubungkan ke Database MongoDB
- **Tugas 1**: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

In [59]:
# !pip install pymongo
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://adetiaraymond:remon541@bigdata.ddd93.mongodb.net/?retryWrites=true&w=majority&appName=BigData')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

### 2. Operasi CRUD Dasar
- **Tugas 2**: Insert, Update, dan Delete data pada koleksi `employees`.

In [117]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}

#query insert
collection.insert_one(employee_data)
print('Data inserted')

Data inserted

In [118]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

# Querry update
collection.update_one(
    {"name": "Alice"},
    {"$set":{"department": "Engineering",
             "salary": 5000}},
)
print('\n')
print('Data telah update')
for employee in collection.find():
    print(employee)

# Querry delete
collection.delete_many({"name": "Alice"})
print('\n')
print('Data telah delete')
for employee in collection.find():
    print(employee)

{'_id': ObjectId('6721b77322a5eb7eb165c6fb'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}


Data telah update
{'_id': ObjectId('6721b77322a5eb7eb165c6fb'), 'name': 'Alice', 'department': 'Engineering', 'age': 29, 'salary': 5000}


Data telah delete

### 3. Query Lebih Kompleks Menggunakan Aggregation
- **Tugas 3**: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [15]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 4500.0}

### 4. Latihan Tambahan
- **Latihan 4.1**: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).
- **Latihan 4.2**: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.
- **Latihan 4.3**: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

In [53]:
# The $ syntax helps MongoDB understand when you're referring to a field value (e.g., $category),
# using aggregation operators (e.g., $avg),
# or applying query conditions (e.g., $gt).

In [57]:
# Inisiasi koleksi baru
products_collection = db['products']

# Sample data products
products_data = [
    {"name": "Laptop", "category": "Electronics", "price": 800},
    {"name": "Smartphone", "category": "Electronics", "price": 500},
    {"name": "Tablet", "category": "Electronics", "price": 300},
    {"name": "Headphones", "category": "Accessories", "price": 150},
    {"name": "Keyboard", "category": "Accessories", "price": 80},
    {"name": "Monitor", "category": "Electronics", "price": 200},
    {"name": "Charger", "category": "Accessories", "price": 30},
    {"name": "Mouse", "category": "Accessories", "price": 50},
    {"name": "Printer", "category": "Office", "price": 120},
    {"name": "Desk Chair", "category": "Office", "price": 250}
]

# Insert products
products_collection.insert_many(products_data)
print("Inserted products into 'products' collection.")

Inserted products into 'products' collection.

In [58]:
# Mencari rata-rata price
average_price = products_collection.aggregate([
    {"$group": {"_id": None, "avgPrice": {"$avg": "$price"}}}
])

average_price = list(average_price)[0]['avgPrice']
print(f"Average price of products: ${average_price:.2f}")

# Mencari produk dengan filter price diatas rata-rata
expensive_products = products_collection.find({"price": {"$gt": average_price}})
print("Products with price above average:")
for product in expensive_products:
    print(f"Product: {product['name']}, Price: ${product['price']}")

Average price of products: $248.00
Products with price above average:
Product: Laptop, Price: $800
Product: Smartphone, Price: $500
Product: Tablet, Price: $300
Product: Desk Chair, Price: $250
Product: Laptop, Price: $800
Product: Smartphone, Price: $500
Product: Tablet, Price: $300
Product: Desk Chair, Price: $250

In [56]:
# Aggregation pipeline dengna menghitung setiap data pada key category
category_counts = products_collection.aggregate([
    {"$group": {"_id": "$category", "totalProducts": {"$sum": 1}}}
])

print("Total products per category:")
for category in category_counts:
    print(category)

Total products per category:
{'_id': 'Electronics', 'totalProducts': 4}
{'_id': 'Accessories', 'totalProducts': 4}
{'_id': 'Office', 'totalProducts': 2}

### 5. Tugas
- **Tugas 1**: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.
- **Tugas 2**: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.
- **Tugas 3**: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

In [62]:
employee_Data = [
    {"name": "Alice", "age": 30, "salary": 90000, "department": "Engineering"},
    {"name": "Bob", "age": 24, "salary": 60000, "department": "Engineering"},
    {"name": "Charlie", "age": 28, "salary": 80000, "department": "Engineering"},
    {"name": "David", "age": 35, "salary": 120000, "department": "Engineering"},
    {"name": "Eve", "age": 22, "salary": 50000, "department": "Engineering"},
    {"name": "Frank", "age": 40, "salary": 95000, "department": "Marketing"},
    {"name": "Grace", "age": 29, "salary": 85000, "department": "Marketing"},
    {"name": "Heidi", "age": 31, "salary": 72000, "department": "Marketing"},
    {"name": "Ivan", "age": 26, "salary": 68000, "department": "Marketing"},
    {"name": "Judy", "age": 45, "salary": 110000, "department": "Sales"},
    {"name": "Mallory", "age": 23, "salary": 55000, "department": "Sales"},
    {"name": "Niaj", "age": 34, "salary": 78000, "department": "Sales"},
    {"name": "Olivia", "age": 29, "salary": 67000, "department": "Sales"},
    {"name": "Peggy", "age": 27, "salary": 62000, "department": "HR"},
    {"name": "Trent", "age": 38, "salary": 70000, "department": "HR"},
    {"name": "Victor", "age": 26, "salary": 62000, "department": "HR"},
    {"name": "Walter", "age": 29, "salary": 90000, "department": "HR"}
]

employee_collection = db['employees2']
employee_collection.insert_many(employee_Data)

InsertManyResult([ObjectId('6721afbf22a5eb7eb165c6e4'), ObjectId('6721afbf22a5eb7eb165c6e5'), ObjectId('6721afbf22a5eb7eb165c6e6'), ObjectId('6721afbf22a5eb7eb165c6e7'), ObjectId('6721afbf22a5eb7eb165c6e8'), ObjectId('6721afbf22a5eb7eb165c6e9'), ObjectId('6721afbf22a5eb7eb165c6ea'), ObjectId('6721afbf22a5eb7eb165c6eb'), ObjectId('6721afbf22a5eb7eb165c6ec'), ObjectId('6721afbf22a5eb7eb165c6ed'), ObjectId('6721afbf22a5eb7eb165c6ee'), ObjectId('6721afbf22a5eb7eb165c6ef'), ObjectId('6721afbf22a5eb7eb165c6f0'), ObjectId('6721afbf22a5eb7eb165c6f1'), ObjectId('6721afbf22a5eb7eb165c6f2'), ObjectId('6721afbf22a5eb7eb165c6f3'), ObjectId('6721afbf22a5eb7eb165c6f4')], acknowledged=True)

In [86]:
top_salary = employee_collection.find().sort("salary", -1).limit(5)

for employee in top_salary:
    print (f"{employee['name']}\t ",f"Salary : ${employee['salary']}")

David	  Salary : $120000
Judy	  Salary : $110000
Frank	  Salary : $95000
Walter	  Salary : $90000
Alice	  Salary : $90000

In [91]:
delete = employee_collection.delete_many({"age": {"$lt": 25}})

result = employee_collection.find({"age": {"$lt": 25}})

for res in result:
  print (res)

In [96]:
salary_age_report = employee_collection.aggregate([
    {
        "$group": {
            "_id": "$department",
            "totalSalary": {"$sum": "$salary"},
            "averageAge": {"$avg": "$age"}
        }
    }
])

print("Total salary and average age by department:")
for report in salary_age_report:
    print(f"Department: {report['_id']}",)
    print(f"Total Salary: ${report['totalSalary']}")
    print(f"Average Age: {report['averageAge']:.2f} years")
    print("\n")

Total salary and average age by department:
Department: Sales
Total Salary: $255000
Average Age: 36.00 years


Department: Engineering
Total Salary: $290000
Average Age: 31.00 years


Department: HR
Total Salary: $284000
Average Age: 30.00 years


Department: Marketing
Total Salary: $320000
Average Age: 31.50 years